CREATE TABLE [dbo].[ARTISTS](
	[GUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[BIRTH_DATE] [datetime] NULL,
 CONSTRAINT [PK_ARTISTS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]



CREATE TABLE [dbo].[EVENT_DATE_PLACE](
	[EVENT_GUID] [uniqueidentifier] NOT NULL,
	[PLACE_GUID] [uniqueidentifier] NOT NULL,
	[DATE_BEGIN] [datetime] NOT NULL,
	[DATE_END] [datetime] NULL,
	[RESERVED_PLACES] [int] NULL,
 CONSTRAINT [PK_EVENT_DATE_PLACE] PRIMARY KEY CLUSTERED 
(
	[EVENT_GUID] ASC,
	[PLACE_GUID] ASC,
	[DATE_BEGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


CREATE TABLE [dbo].[EVENT_TYPES](
	[GUID] [uniqueidentifier] NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_EVENT_TYPES] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[EVENTS](
	[GUID] [uniqueidentifier] NOT NULL,
	[TITLE] [nvarchar](500) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[PRICE] [real] NOT NULL,
	[EVENT_TYPE_GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EVENTS] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

CREATE TABLE [dbo].[EVENTS_ARTISTS](
	[EVENTS_GUID] [uniqueidentifier] NOT NULL,
	[ARTISTS_GUID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EVENTS_ARTISTS] PRIMARY KEY CLUSTERED 
(
	[EVENTS_GUID] ASC,
	[ARTISTS_GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[PLACES](
	[GUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[ADRESS] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[NUMBER_PLACES] [real] NOT NULL,
	[WEB_SITE] [nvarchar](500) NULL,
	[LOCATION_PERCENT] [numeric](5, 2) NULL,
 CONSTRAINT [PK_PLACES] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

CREATE TABLE [dbo].[USERS](
	[LOGIN] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[NOM] [nvarchar](50) NULL,
	[PRENOM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]



INSERT [dbo].[ARTISTS] ([GUID], [NAME], [BIRTH_DATE]) VALUES (N'54b3a9d4-1fcb-4201-9aba-027f7edda938', N'SCORPIONS', NULL)
INSERT [dbo].[ARTISTS] ([GUID], [NAME], [BIRTH_DATE]) VALUES (N'62d7af51-d440-4a0a-9b0e-1536b36c6fd4', N'TCHOUPI FAIT SON SPECTACLE', NULL)
INSERT [dbo].[ARTISTS] ([GUID], [NAME], [BIRTH_DATE]) VALUES (N'fb24dd14-b246-46f3-940b-1590ce2dcc31', N'ELIE SEMOUN', NULL)
INSERT [dbo].[EVENT_DATE_PLACE] ([EVENT_GUID], [PLACE_GUID], [DATE_BEGIN], [DATE_END], [RESERVED_PLACES]) VALUES (N'668112c6-e0a5-4c74-90f3-018dac823e60', N'a7c77b00-887b-4f1e-9a17-142830855d4b', CAST(0x00009FFB0151D460 AS DateTime), CAST(0x00009FFB00000000 AS DateTime), 800)
INSERT [dbo].[EVENT_DATE_PLACE] ([EVENT_GUID], [PLACE_GUID], [DATE_BEGIN], [DATE_END], [RESERVED_PLACES]) VALUES (N'87baa67a-d007-4603-ac78-0371ca67b7d5', N'02067331-7162-4c80-9133-921ae828556b', CAST(0x0000A0130151D460 AS DateTime), CAST(0x0000A01300000000 AS DateTime), 800)
INSERT [dbo].[EVENT_DATE_PLACE] ([EVENT_GUID], [PLACE_GUID], [DATE_BEGIN], [DATE_END], [RESERVED_PLACES]) VALUES (N'64f2ba3a-4fac-46e9-b5ee-050f53c924fd', N'02067331-7162-4c80-9133-921ae828556b', CAST(0x00009FDF0151D460 AS DateTime), CAST(0x00009FDF00000000 AS DateTime), 800)
INSERT [dbo].[EVENT_TYPES] ([GUID], [DESCRIPTION]) VALUES (N'9cc78b3e-3296-4746-a737-760f66ddb830', N'Exposition')
INSERT [dbo].[EVENT_TYPES] ([GUID], [DESCRIPTION]) VALUES (N'203cfa80-472d-47fa-acf6-f3ac8b7f2c40', N'Concert')
INSERT [dbo].[EVENTS] ([GUID], [TITLE], [DESCRIPTION], [PRICE], [EVENT_TYPE_GUID]) VALUES (N'668112c6-e0a5-4c74-90f3-018dac823e60', N'HOLLIE COOK', NULL, 22, N'203cfa80-472d-47fa-acf6-f3ac8b7f2c40')
INSERT [dbo].[EVENTS] ([GUID], [TITLE], [DESCRIPTION], [PRICE], [EVENT_TYPE_GUID]) VALUES (N'87baa67a-d007-4603-ac78-0371ca67b7d5', N'ROCK THE BALLET', NULL, 46, N'203cfa80-472d-47fa-acf6-f3ac8b7f2c40')
INSERT [dbo].[EVENTS] ([GUID], [TITLE], [DESCRIPTION], [PRICE], [EVENT_TYPE_GUID]) VALUES (N'64f2ba3a-4fac-46e9-b5ee-050f53c924fd', N'DANI LARY', N'Magie', 48, N'203cfa80-472d-47fa-acf6-f3ac8b7f2c40')
INSERT [dbo].[EVENTS_ARTISTS] ([EVENTS_GUID], [ARTISTS_GUID]) VALUES (N'668112c6-e0a5-4c74-90f3-018dac823e60', N'39b1e14a-db38-4c9b-8906-32e257ddd4cb')
INSERT [dbo].[EVENTS_ARTISTS] ([EVENTS_GUID], [ARTISTS_GUID]) VALUES (N'87baa67a-d007-4603-ac78-0371ca67b7d5', N'1a429f1e-f556-4351-a019-e86f32a82afa')
INSERT [dbo].[EVENTS_ARTISTS] ([EVENTS_GUID], [ARTISTS_GUID]) VALUES (N'64f2ba3a-4fac-46e9-b5ee-050f53c924fd', N'99b800a8-f79c-4315-90fd-b524437d5499')
INSERT [dbo].[PLACES] ([GUID], [NAME], [ADRESS], [DESCRIPTION], [NUMBER_PLACES], [WEB_SITE], [LOCATION_PERCENT]) VALUES (N'68874d7a-32cf-498c-8412-00aeef38981c', N'Maison de la culture', N'Bd François Mitterrand 63000 Clermont Ferrand', N'Salle de spectacle', 1000, N'http://www.clermont-ferrand.fr', CAST(2.50 AS Numeric(5, 2)))
INSERT [dbo].[PLACES] ([GUID], [NAME], [ADRESS], [DESCRIPTION], [NUMBER_PLACES], [WEB_SITE], [LOCATION_PERCENT]) VALUES (N'a7c77b00-887b-4f1e-9a17-142830855d4b', N'Coopérative de mai', N'rue serge Gainsbourg 63000 Clermont Ferrand', N'Première scène de musiques actuelles de Clermont-Ferrand mais aussi de toute la région Auvergne, elle se situe à une place stratégique dans la ville, place du 1er Mai, sur les vestiges de lancienne coopérative Michelin : à dix minutes du centre ville.', 1500, N'www.lacoope.org', CAST(5.00 AS Numeric(5, 2)))
INSERT [dbo].[USERS] ([LOGIN], [PASSWORD], [NOM], [PRENOM]) VALUES (N'Toto', N'12299170891009567410982971131211871132061153230', N'Toto', N'Toto')
ALTER TABLE [dbo].[ARTISTS] ADD  CONSTRAINT [DF_ARTISTS_GUID]  DEFAULT (newid()) FOR [GUID]

ALTER TABLE [dbo].[EVENT_TYPES] ADD  CONSTRAINT [DF_EVENT_TYPES_GUID]  DEFAULT (newid()) FOR [GUID]

ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_GUID]  DEFAULT (newid()) FOR [GUID]

ALTER TABLE [dbo].[EVENTS] ADD  CONSTRAINT [DF_EVENTS_PRICE]  DEFAULT ((0)) FOR [PRICE]

ALTER TABLE [dbo].[PLACES] ADD  CONSTRAINT [DF_PLACES_GUID]  DEFAULT (newid()) FOR [GUID]

ALTER TABLE [dbo].[PLACES] ADD  CONSTRAINT [DF_PLACE_NUMBER_PLACES]  DEFAULT ((1)) FOR [NUMBER_PLACES]

ALTER TABLE [dbo].[EVENT_DATE_PLACE]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_DATE_PLACE_EVENTS] FOREIGN KEY([EVENT_GUID])
REFERENCES [dbo].[EVENTS] ([GUID])

ALTER TABLE [dbo].[EVENT_DATE_PLACE] CHECK CONSTRAINT [FK_EVENT_DATE_PLACE_EVENTS]

ALTER TABLE [dbo].[EVENT_DATE_PLACE]  WITH CHECK ADD  CONSTRAINT [FK_EVENT_DATE_PLACE_PLACES] FOREIGN KEY([PLACE_GUID])
REFERENCES [dbo].[PLACES] ([GUID])

ALTER TABLE [dbo].[EVENT_DATE_PLACE] CHECK CONSTRAINT [FK_EVENT_DATE_PLACE_PLACES]

ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_EVENT_TYPES] FOREIGN KEY([EVENT_TYPE_GUID])
REFERENCES [dbo].[EVENT_TYPES] ([GUID])

ALTER TABLE [dbo].[EVENTS] CHECK CONSTRAINT [FK_EVENTS_EVENT_TYPES]

ALTER TABLE [dbo].[EVENTS_ARTISTS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_ARTISTS_ARTISTS] FOREIGN KEY([ARTISTS_GUID])
REFERENCES [dbo].[ARTISTS] ([GUID])

ALTER TABLE [dbo].[EVENTS_ARTISTS] CHECK CONSTRAINT [FK_EVENTS_ARTISTS_ARTISTS]

ALTER TABLE [dbo].[EVENTS_ARTISTS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTS_ARTISTS_EVENTS] FOREIGN KEY([EVENTS_GUID])
REFERENCES [dbo].[EVENTS] ([GUID])

ALTER TABLE [dbo].[EVENTS_ARTISTS] CHECK CONSTRAINT [FK_EVENTS_ARTISTS_EVENTS]

