<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceAgenda" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1318/ServiceAgenda.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceAgenda" contract="ServiceAgenda.IServiceAgenda"
                name="BasicHttpBinding_IServiceAgenda" />
        </client>
    </system.serviceModel>
</configuration>